player-connection-mode=Listen
player-connection-guid=720303392
player-connection-debug=0
player-connection-project-name=multiplayerGame
player-connection-ip=172.31.86.47
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
